:root {
  --main-color: #becb65;
  --main-bg-transparent: #060f18e0;
  --main-bg: #060f18;
  --black: #000000;
  --white: #ffffff;
  --light-grey-color: #414d5c;
  --light-bg: #eee;
  --border: .2rem solid var(--black);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --primary-color: #becb65;
	--secondary-color: #3b3b3b;
	--black: #000000;
	--font: 'Poppins', sans-serif;
  

}


html {
  font-family: sans-serif;
  /* -ms-text-size-adjust: 100%; */
  /* -webkit-text-size-adjust: 100%; */
  font-size: 62.5%;
  overflow-x: hidden;
}


body {
  margin: 0;
  color: #2A2A2A;
  background: black;
  font-family: "Work Sans", sans-serif;
  /* -webkit-font-smoothing: antialiased; */
  min-height: 100vh;
  /* background-color: var(--light-bg); */
}


/* he lal tlat ch7awit li 3al taraf  */
#menu-trigger {
  display: inline-flex;
  width: 48px;
  height: 48px;
  transform: rotate(0deg);
  transition: .15s ease-in-out;
  cursor: pointer;
  margin-left: auto;
  position: relative;
  z-index: 110;
}

@media (min-width: 1024px) {
  #menu-trigger {
    width: 55px;
    height: 80px;
  }
}

#menu-trigger:hover span:before {
  top: -8px;
}

#menu-trigger:hover span:after {
  top: 8px;
}

#menu-trigger span {
  display: block;
  background: var(--main-color);
  width: 20px;
  height: 2px;
  margin: auto;
  position: relative;
}

#menu-trigger span:before,
#menu-trigger span:after {
  content: "";
  height: 2px;
  width: 20px;
  background: var(--main-color);
  position: absolute;
  left: 0;
  transition: .15s ease-in-out;
}

#menu-trigger span:before {
  top: -5px;
}

#menu-trigger span:after {
  top: 5px;
}


/* he lal souwar li bl article */
div.ratio-based-placeholder {
  display: block;
  width: 100%;
  height: 0;
  position: relative;
}


/* he lal jemal li bl article */
h3 a {
  color: var(--main-color);
}


/* he lal souwar li b2alb l article */
.article__figure img {
  display: block;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  /* -o-object-fit: cover; */
  object-fit: cover;
  margin: 0 auto;
  z-index: 1;
  transition: opacity 0.2s;
}


/* he lal jemal li b2alb l article */
.article-simple__title {
  display: block;
  display: -webkit-box;
  /* -webkit-line-clamp: 3; */
  /* -webkit-box-orient: vertical; */
  overflow: hidden;
  max-height: 60px;
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 20px;
  text-transform: initial;
  margin-bottom: 0;
  transition: opacity 0.2s;
}


/* lal katibe yali b2alb klchi mn3ada el workouts */
.article-simple__title:hover {
  opacity: 0.6;
}


.header {
  width: 100%;
  background: #060f18;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  position: sticky;
}


.header__content {
  display: flex;
  padding-left: 20px;
}

@media (max-width: 1023px) {
  .header__content {
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .header__content {
    padding-left: 40px;
  }
}

@media (min-width: 1024px) and (max-width: 1190px) {
  .header__content {
    padding-left: 10px;
  }
}

.header__logo {
  flex-shrink: 0;
  line-height: 0;
  margin: 0;
  position: relative;
  top: 5px;
}

@media (min-width: 1024px) {
  .header__logo {
    top: 10px;
    z-index: 100;
  }
}

.header__logo-icon {
  width: 33px;
  height: 38px;
}

@media (min-width: 1024px) {
  .header__logo-icon {
    width: 53px;
    height: 61px;
  }
}


.main-nav {
  flex-grow: 1;
  padding-right: 20px;
}

@media (max-width: 1023px) {
  .main-nav {
    width: 100vw;
    height: 100vh;
    background: var(--main-bg);
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 0.2s;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
}


.main-nav__list {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 1023px) {
  .main-nav__list {
    min-height: calc(100vh - 120px);
    height: auto;
    flex-direction: column;
    justify-content: center;
    background-size: 50vw 50vw;
    padding: 50px 0;
    transition: transform 0.3s;
  }
}

@media (max-width: 767px) {
  .main-nav__list {
    background-size: 75vw 75vw;
  }
}

.main-nav__list>.menu-item {
  height: 100%;
  display: inline-flex;
  align-items: center;
  text-align: center;
}

@media (max-width: 1023px) {
  .main-nav__list>.menu-item {
    width: 100%;
    height: auto;
    margin-bottom: 18px;
    text-align: center;
  }
}

/* he la tbayen lsubmenu */
.main-nav__list>.menu-item:hover .main-nav__submenu {
  display: block;
}


/* he te3it l sponcore trakta mtl ma hiye kermel eza kerarna nhot souwar  */
.main-nav__list>.menu-item.flex-nav-item>a,
.main-nav__list>.menu-item.hers-nav-item>a,
.main-nav__list>.menu-item.olympia-nav-item>a {
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* text-indent: -9999px; */
  line-height: 1.1;
  transition: opacity .2s;
}


@media (max-width: 1023px) {
  .main-nav__list>.menu-item.flex-nav-item {
    order: 14;
  }
}

@media (min-width: 1024px) {
  .main-nav__list>.menu-item.flex-nav-item {
    background-size: 43px;
  }
}

/* .main-nav__list>.menu-item.flex-nav-item>a {
  height: 28px;
  background-image: url(""); he la awal sponsor
} */

@media (min-width: 1024px) {
  .main-nav__list>.menu-item.flex-nav-item>a {
    width: 80px;
    background-size: 50px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1190px) {
  .main-nav__list>.menu-item.flex-nav-item>a {
    width: 60px;
  }
}



@media (max-width: 1023px) {
  .main-nav__list>.menu-item.hers-nav-item {
    order: 15;
    margin-top: 8px;
  }
}

@media (min-width: 1024px) {
  .main-nav__list>.menu-item.hers-nav-item {
    background-size: 68px;
  }
}

/* .main-nav__list>.menu-item.hers-nav-item>a {
  height: 28px;
  background-image: url(""); he la teni sponcor
} */

@media (min-width: 1024px) {
  .main-nav__list>.menu-item.hers-nav-item>a {
    width: 112px;
    background-size: 80px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1190px) {
  .main-nav__list>.menu-item.hers-nav-item>a {
    width: 100px;
  }
}



@media (max-width: 1023px) {
  .main-nav__list>.menu-item.olympia-nav-item {
    order: 16;
  }
}

@media (min-width: 1024px) {
  .main-nav__list>.menu-item.olympia-nav-item {
    background-size: 68px;
  }
}

.main-nav__list>.menu-item.olympia-nav-item>a {
  /* background-image: url(""); he la telet wahde */
  padding-top: 2px;
  padding-bottom: 2px;
}

@media (min-width: 1024px) {
  .main-nav__list>.menu-item.olympia-nav-item>a {
    /* background: transparent url("") no-repeat center; he la telet wahde */
    width: 118px;
    /* height: 28px; */
    background-size: 87px;
    position: relative;
    /* top: 1px; */
  }
}

@media screen and (min-width: 1024px) and (max-width: 1190px) {
  .main-nav__list>.menu-item.olympia-nav-item>a {
    width: 100px;
  }
}

.main-nav__list>.menu-item>a {
  color: var(--main-color);
  font-family: "Barlow Condensed", sans-serif;
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 1.0px;
  text-transform: uppercase;
  padding: 0 20px;
  margin-left: 55px !important;
}

@media screen and (min-width: 1024px) and (max-width: 1190px) {
  .main-nav__list>.menu-item>a {
    padding: 0 7px;
  }
}

@media screen and (min-width: 1191px) and (max-width: 1300px) {
  .main-nav__list>.menu-item>a {
    padding: 0 10px;
  }
}

@media (max-width: 1023px) {
  .main-nav__list>.menu-item>a {
    width: 100%;
    color: var(--main-color);
    font-size: 39px;
    line-height: 1;
    letter-spacing: 2px;
  }
}

@media screen and (max-height: 568px) {
  .main-nav__list>.menu-item>a {
    font-size: 29px;
  }
}

@media (min-width: 1024px) {
  .main-nav__list>.menu-item>a {
    white-space: nowrap;
  }
}

.main-nav__list>.menu-item>a:hover {
  color: #ffffff;
}
/*li alb articles*/
.main-nav__submenu {
  width: 100%;
  background: #1d252d;
  overflow: hidden;
  /* box-shadow: 0 20px 25px rgba(42, 42, 42, 0.3); */
  position: absolute;
  top: 80px;
  left: 0;
  display: none;
}

@media (max-width: 1023px) {
  .main-nav__submenu {
    display: block;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    padding: 50px 20px 30px 30px;
    position: fixed;
    top: 0;
    left: 100%;
  }

  .main-nav__submenu.show {
    z-index: 110;
  }

  .main-nav__submenu:before {
    content: '';
    display: block;
    background: #ffffff;
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}


/* he kermel t7ot lsubmenu wl article had ba3ed  */
.main-nav__submenu .l-container {
  display: flex;
}

@media (max-width: 1023px) {
  .main-nav__submenu .l-container {
    display: block;
    height: 100%;
    position: static;
  }
}



/* he lal list lz8ire li b2alb kl wahde mn te3un lnav */
.main-nav__submenu__list {
  min-width: 260px;
  list-style-type: none;
  background: #181515;
  
  padding: 40px 60px 40px 10px;
  margin: 0;
  text-align: right;
  position: relative;
}

@media (max-width: 1023px) {
  .main-nav__submenu__list {
    width: 100%;
    background: transparent;
    padding: 0 10px 0 30px;
    text-align: left;
  }
}

@media (min-width: 1024px) {
  .main-nav__submenu__list:before {
    content: '';
    display: block;
    background: #2A2A2A;
    width: 50vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
  }
}

.main-nav__submenu__list li {
  margin-bottom: 20px;
}

/*he l  katibe li alb menu l z8ire */
.main-nav__submenu__list li a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .main-nav__submenu__list li a {
    color: #ffffff;
    font-size: 18px;
  }
}

.main-nav__submenu__list li a:hover {
  opacity: 0.6;
}



/* he lal jeze2 lteni li b2albu l table wl article */
.main-nav__submenu__grid {
  flex-grow: 1;
  padding: 20px 5px 0;
}

@media (max-width: 1023px) {
  .main-nav__submenu__grid {
    display: none;
  }
}

.main-nav__submenu__grid-title {
  display: inline-block;
  font-size: 18px;
  font-weight: 650;
  letter-spacing: 1.7px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
  background: linear-gradient(to right, #ffffffe4,#becb65, #bdcb6588);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-nav__submenu__grid-list {
  display: flex;
  flex-wrap: wrap;
}


@media (min-width: 1221px) {
  .main-nav__submenu__grid-list li {
    height: 100px;
  }
}
/* he lal mouraba3at li b2alb lworkout */
.main-nav__submenu__grid-list li {
 
   height: 90px;
   display: inline-flex;
   position: relative;
   padding: 0 70px;
   margin: 0 55px 30px;
   transition: all 0.2s;
 }
 
/*.main-nav__submenu__grid-list li:hover {
  background: #918c83;}

/* he lal katibe li b2alb l mouraba3at */
.main-nav__submenu__grid-list li a {
  color: #d4ebd1e9;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 18px;
  font-weight: 540;
  letter-spacing: 1.2px;
  line-height: 26px;
  text-transform: uppercase;
 
  margin: auto;
  position: absolute; 
  top: 60%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}

@media (min-width: 1221px) {
  .main-nav__submenu__grid-list li a {
    font-size: 32px;
    line-height: 32px;
  }
}

.main-nav__submenu__articles {
  display: flex;
  padding: 40px 10px 60px 30px;
}

@media (max-width: 1023px) {
  .main-nav__submenu__articles {
    display: none;
  }
}

@media (min-width: 1221px) {
  .main-nav__submenu__articles {
    padding-right: 30px;
  }
}

.main-nav__submenu__articles .article-simple {
  width: 25%;
  display: block;
  padding: 0 15px;
}

@media (min-width: 1221px) {
  .main-nav__submenu__articles .article-simple {
    padding: 0 32px;
  }
}

.main-nav__submenu__articles .article-simple:not(:last-child) {
  border-right: 1px solid #B8B8B8;
}

.main-nav__submenu__articles .article-simple__thumbnail {
  display: block;
  width: 100%;
  margin: 0 0 10px;
}

.main-nav__submenu__articles .article-simple__title {
  text-overflow: unset;
}

.main-nav__submenu__articles .article-simple .article__category {
  display: none;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

*::selection {
  background-color: var(--main-color);
  color: var(--white);
}


/* section {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
} */


::-webkit-scrollbar {
  height: .5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--main-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}



.btn {
  display: block;
  width: 100%;
  margin-top: 1rem;
  border-radius: .5rem;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: var(--white);
  cursor: pointer;
  text-align: center;
}

.btn:hover{
  background-color: var(--black);
}

.btn {
  background-color: var(--main-color);
}



/* he lal background matra7 lslider */
.home-bg {
  background: url(../img/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent !important; 
  /* opacity: 0.95; */
  background-attachment: fixed;
  min-height: 100%;
  background-size: 100%;
}

.home-bg .home .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 6rem;
  padding-top: 2rem;
  user-select: none;
}

.home-bg .home .slide .image {
  flex: 1 1 40rem;
}

.home-bg .home .slide .image img {
  height: 40rem;
  width: 100%;
  object-fit: contain;
}

.home-bg .home .slide .content {
  flex: 1 1 40rem;
}

.home-bg .home .slide .content span {
  font-size: 2rem;
  color: var(--white);
}

.home-bg .home .slide .content h3 {
  margin-top: 1rem;
  font-size: 4rem;
  color: var(--white);
  text-transform: uppercase;
}

.home-bg .home .slide .content .btn {
  display: inline-block;
  width: auto;
}

/* .swiper-pagination-bullet-active {
  background-color: var(--main-color);
} */

.row{
	display:flex;
	justify-content: space-evenly;
  max-width: 100%;
  margin-top: -30px;
  /* z-index: 999; */
}
.card{
	width: 27%;
	height: 300px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 5%;
	border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 3px 10px grey;
}
.card h2{
	text-transform: uppercase;
	margin-bottom: 15px;
}


.swiper {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	/* overflow: hidden; */
	list-style: none;
	padding: 0;
	z-index: 1
}

.swiper-vertical>.swiper-wrapper {
	flex-direction: column
}

.swiper-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box
}

.swiper-android .swiper-slide,
.swiper-wrapper {
	transform: translate3d(0px, 0, 0)
}

.swiper-pointer-events {
	touch-action: pan-y
}

.swiper-pointer-events.swiper-vertical {
	touch-action: pan-x
}

.swiper-slide {
	flex-shrink: 0;
	width: 100%;
	height: 100%;
	position: relative;
	transition-property: transform
}

.swiper-slide-invisible-blank {
	visibility: hidden
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
	height: auto
}

.swiper-autoheight .swiper-wrapper {
	align-items: flex-start;
	transition-property: transform, height
}

.swiper-backface-hidden .swiper-slide {
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
	perspective: 1200px
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
	transform-style: preserve-3d
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	z-index: 10
}

.swiper-3d .swiper-slide-shadow {
	background: rgba(0, 0, 0, .15)
}

.swiper-3d .swiper-slide-shadow-left {
	background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-3d .swiper-slide-shadow-right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-3d .swiper-slide-shadow-top {
	background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-3d .swiper-slide-shadow-bottom {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-css-mode>.swiper-wrapper {
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: none
}

.swiper-css-mode>.swiper-wrapper::-webkit-scrollbar {
	display: none
}

.swiper-css-mode>.swiper-wrapper>.swiper-slide {
	scroll-snap-align: start start
}

.swiper-horizontal.swiper-css-mode>.swiper-wrapper {
	scroll-snap-type: x mandatory
}

.swiper-vertical.swiper-css-mode>.swiper-wrapper {
	scroll-snap-type: y mandatory
}

.swiper-centered>.swiper-wrapper::before {
	content: '';
	flex-shrink: 0;
	order: 9999
}

.swiper-centered.swiper-horizontal>.swiper-wrapper>.swiper-slide:first-child {
	margin-inline-start: var(--swiper-centered-offset-before)
}

.swiper-centered.swiper-horizontal>.swiper-wrapper::before {
	height: 100%;
	min-height: 1px;
	width: var(--swiper-centered-offset-after)
}

.swiper-centered.swiper-vertical>.swiper-wrapper>.swiper-slide:first-child {
	margin-block-start: var(--swiper-centered-offset-before)
}

.swiper-centered.swiper-vertical>.swiper-wrapper::before {
	width: 100%;
	min-width: 1px;
	height: var(--swiper-centered-offset-after)
}

.swiper-centered>.swiper-wrapper>.swiper-slide {
	scroll-snap-align: center center;
	scroll-snap-stop: always
}

.swiper-virtual .swiper-slide {
	-webkit-backface-visibility: hidden;
	transform: translateZ(0)
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
	height: 1px;
	width: var(--swiper-virtual-size)
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
	width: 1px;
	height: var(--swiper-virtual-size)
}

:root {
	--swiper-navigation-size: 44px
}

.swiper-button-next,
.swiper-button-prev {
	position: absolute;
	top: 50%;
	width: calc(var(--swiper-navigation-size)/ 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--swiper-navigation-color, var(--swiper-theme-color))
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
	opacity: .35;
	cursor: auto;
	pointer-events: none
}

.swiper-button-next.swiper-button-hidden,
.swiper-button-prev.swiper-button-hidden {
	opacity: 0;
	cursor: auto;
	pointer-events: none
}

.swiper-navigation-disabled .swiper-button-next,
.swiper-navigation-disabled .swiper-button-prev {
	display: none !important
}

.swiper-button-next:after,
.swiper-button-prev:after {
	font-family: swiper-icons;
	font-size: var(--swiper-navigation-size);
	text-transform: none !important;
	letter-spacing: 0;
	font-variant: initial;
	line-height: 1
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
	left: 10px;
	right: auto
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
	content: 'prev'
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
	right: 10px;
	left: auto
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
	content: 'next'
}

.swiper-button-lock {
	display: none
}

.swiper-pagination {
	position: absolute;
	text-align: center;
	transition: .3s opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
	opacity: 0
}

.swiper-pagination-disabled>.swiper-pagination,
.swiper-pagination.swiper-pagination-disabled {
	display: none !important
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 10px;
	left: 0;
	width: 100%
}

.swiper-pagination-bullets-dynamic {
	overflow: hidden;
	font-size: 0
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transform: scale(.33);
	position: relative
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
	transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
	transform: scale(1)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
	transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
	transform: scale(.33)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
	transform: scale(.66)
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	transform: scale(.33)
}

.swiper-pagination-bullet {
	width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
	height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
	display: inline-block;
	border-radius: 50%;
	background: var(--swiper-pagination-bullet-inactive-color, #000);
	opacity: var(--swiper-pagination-bullet-inactive-opacity, .2)
}

button.swiper-pagination-bullet {
	border: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: pointer
}

.swiper-pagination-bullet:only-child {
	display: none !important
}

.swiper-pagination-bullet-active {
	opacity: var(--swiper-pagination-bullet-opacity, 1);
	background: var(--swiper-pagination-color, var(--swiper-theme-color))
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
	right: 10px;
	top: 50%;
	transform: translate3d(0px, -50%, 0)
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
	display: block
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	top: 50%;
	transform: translateY(-50%);
	width: 8px
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	display: inline-block;
	transition: .2s transform, .2s top
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px)
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap
}

.swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transition: .2s transform, .2s left
}

.swiper-horizontal.swiper-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
	transition: .2s transform, .2s right
}

.swiper-pagination-progressbar {
	background: rgba(0, 0, 0, .25);
	position: absolute
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	background: var(--swiper-pagination-color, var(--swiper-theme-color));
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transform: scale(0);
	transform-origin: left top
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
	transform-origin: right top
}

.swiper-horizontal>.swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
	width: 100%;
	height: 4px;
	left: 0;
	top: 0
}

.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical>.swiper-pagination-progressbar {
	width: 4px;
	height: 100%;
	left: 0;
	top: 0
}

.swiper-pagination-lock {
	display: none
}

.swiper-scrollbar {
	border-radius: 10px;
	position: relative;
	-ms-touch-action: none;
	background: rgba(0, 0, 0, .1)
}

.swiper-scrollbar-disabled>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-disabled {
	display: none !important
}

.swiper-horizontal>.swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
	position: absolute;
	left: 1%;
	bottom: 3px;
	z-index: 50;
	height: 5px;
	width: 98%
}

.swiper-scrollbar.swiper-scrollbar-vertical,
.swiper-vertical>.swiper-scrollbar {
	position: absolute;
	right: 3px;
	top: 1%;
	z-index: 50;
	width: 5px;
	height: 98%
}

.swiper-scrollbar-drag {
	height: 100%;
	width: 100%;
	position: relative;
	background: rgba(0, 0, 0, .5);
	border-radius: 10px;
	left: 0;
	top: 0
}

.swiper-scrollbar-cursor-drag {
	cursor: move
}

.swiper-scrollbar-lock {
	display: none
}

.swiper-zoom-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain
}

.swiper-slide-zoomed {
	cursor: move
}

.swiper-lazy-preloader {
	width: 42px;
	height: 42px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -21px;
	margin-top: -21px;
	z-index: 10;
	transform-origin: 50%;
	box-sizing: border-box;
	border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
	border-radius: 50%;
	border-top-color: transparent
}

.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader,
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader {
	animation: swiper-preloader-spin 1s infinite linear
}

.swiper-lazy-preloader-white {
	--swiper-preloader-color: #fff
}

.swiper-lazy-preloader-black {
	--swiper-preloader-color: #000
}

@keyframes swiper-preloader-spin {
	0% {
		transform: rotate(0deg)
	}

	100% {
		transform: rotate(360deg)
	}
}

.swiper .swiper-notification {
	position: absolute;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	z-index: -1000
}

.swiper-free-mode>.swiper-wrapper {
	transition-timing-function: ease-out;
	margin: 0 auto
}

.swiper-grid>.swiper-wrapper {
	flex-wrap: wrap
}

.swiper-grid-column>.swiper-wrapper {
	flex-wrap: wrap;
	flex-direction: column
}

.swiper-fade.swiper-free-mode .swiper-slide {
	transition-timing-function: ease-out
}

.swiper-fade .swiper-slide {
	pointer-events: none;
	transition-property: opacity
}

.swiper-fade .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-cube {
	overflow: visible
}

.swiper-cube .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1;
	visibility: hidden;
	transform-origin: 0 0;
	width: 100%;
	height: 100%
}

.swiper-cube .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-cube.swiper-rtl .swiper-slide {
	transform-origin: 100% 0
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-next+.swiper-slide,
.swiper-cube .swiper-slide-prev {
	pointer-events: auto;
	visibility: visible
}

.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.swiper-cube .swiper-cube-shadow {
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 100%;
	opacity: .6;
	z-index: 0
}

.swiper-cube .swiper-cube-shadow:before {
	content: '';
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	filter: blur(50px)
}

.swiper-flip {
	overflow: visible
}

.swiper-flip .swiper-slide {
	pointer-events: none;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 1
}

.swiper-flip .swiper-slide .swiper-slide {
	pointer-events: none
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
	pointer-events: auto
}

.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-top {
	z-index: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.swiper-creative .swiper-slide {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden;
	transition-property: transform, opacity, height
}

.swiper-cards {
	overflow: visible
}

.swiper-cards .swiper-slide {
	transform-origin: center bottom;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	overflow: hidden
}